<h1>Welcome to Meadowlark Travel</h1>

<h2>It's <span id='dayOfWeek'>{{dayOfWeek}}</span></h2>


<ul style="list-style-type:none">
    <li><a href="about">About</a></li>
    <li>Tours</li>
    <ul style="list-style-type:none">
        <li><a href="tours/hood-river">Hood-River</a></li>
        <li><a href="tours/oregon-coast">Oregon-Coast</a></li>
    </ul>
</ul>
